# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.opendb
Math-Tricks/.vs/Math-Tricks/v17/DocumentLayout.json
Math-Tricks/.vs/Math-Tricks/v17/DocumentLayout.backup.json
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db-wal
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db-shm
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db
Math-Tricks/.vs/Math-Tricks/v17/.suo
Math-Tricks/.vs/Math-Tricks/v17/.suo
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db-shm
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.db-wal
Math-Tricks/.vs/Math-Tricks/v17/DocumentLayout.backup.json
Math-Tricks/.vs/Math-Tricks/v17/DocumentLayout.json
