
Math-Tricks/.vs/Math-Tricks/FileContentIndex/19aa5555-3559-43c4-9a1b-5b49020ed4ae.vsidx
Math-Tricks/.vs/Math-Tricks/FileContentIndex/3b2e414f-2f82-4310-a835-6401fdc39e45.vsidx
Math-Tricks/.vs/Math-Tricks/FileContentIndex/818a3433-7e8a-4fa1-9d77-f7ef5e1bbea2.vsidx
Math-Tricks/.vs/Math-Tricks/v17/Browse.VC.opendb
*.vsidx
